h2 Examples

h3 Base
.example.-mb--3
  .-p--3
    .lux-form__item
      lux-switch(id='toggle1',label='Label')
  .example-tabs.-pl--2
    ul.lux-tabs#example-default
      li.-active
        a(href=`#webcomponent-base`) Web Component
      li
        a(href=`#html-base`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-base
    :code(lang="html")
      <lux-switch id="toggle1" label="Label"></lux-switch>
  .lux-tabs-panel#html-base
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-switch" for="toggle1">
          <input type="checkbox" class="lux-switch__input" id="toggle1">
          <span class="lux-switch__content">
            <span class="lux-switch__thumb"></span>
          </span>
          <span class="lux-switch__label">Label</span>
        </label>
      </div>

h3 Disabled
.example.-mb--3
  .-p--3
    .lux-form__item
      lux-switch(id='toggle2', label='Label', disabled)
  .example-tabs.-pl--2
    ul.lux-tabs#example-disabled
      li.-active
        a(href=`#webcomponent-disabled`) Web Component
      li
        a(href=`#html-disabled`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-disabled
    :code(lang="html")
      <lux-switch id="toggle2" label="Label" disabled></lux-switch>
  .lux-tabs-panel#html-disabled
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-switch" for="toggle2">
          <input type="checkbox" class="lux-switch__input" name="toggle2" value="toggle2" disabled>
          <span id="toggle2" class="lux-switch__content">
            <span class="lux-switch__thumb"></span>
          </span>
          <span class="lux-switch__label">Label</span>
        </label>
      </div>

h3 Stacked
.example.-mb--3
  .-p--3
    .lux-form__item
      lux-switch(id='toggle3', label='Label')
    .lux-form__item
      lux-switch(id='toggle4', label='Label')
  .example-tabs.-pl--2
    ul.lux-tabs#example-stacked
      li.-active
        a(href=`#webcomponent-stacked`) Web Component
      li
        a(href=`#html-stacked`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-stacked
    :code(lang="html")
      <div class="lux-form__item">
        <lux-switch id="toggle3" label="Label"></lux-switch>
      </div>
      <div class="lux-form__item">
        <lux-switch id="toggle4" label="Label"></lux-switch>
      </div>
  .lux-tabs-panel#html-stacked
    :code(lang="html")
      <fieldset>
        <legend class="lux-label">Configure options</legend>
        <div class="lux-form__item">
          <label class="lux-switch" for="toggle3">
            <input type="checkbox" class="lux-switch__input" id="toggle3">
            <span class="lux-switch__content">
              <span class="lux-switch__thumb"></span>
            </span>
            <span class="lux-switch__label">Label</span>
          </label>
        </div>
        <div class="lux-form__item">
          <label class="lux-switch" for="toggle4">
            <input type="checkbox" class="lux-switch__input" id="toggle4">
            <span class="lux-switch__content">
              <span class="lux-switch__thumb"></span>
            </span>
            <span class="lux-switch__label">Label</span>
          </label>
        </div>
      </fieldset>

h3 Inline
.example.-mb--3
  .-p--3.-d--flex
    .lux-form__item.-inline
      lux-switch(id='toggle5', label='Label')
    .lux-form__item.-inline
      lux-switch(id='toggle6', label='Label')
  .example-tabs.-pl--2
    ul.lux-tabs#example-inline
      li.-active
        a(href=`#webcomponent-inline`) Web Component
      li
        a(href=`#html-inline`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-inline
    .lux-tab__description
      | Apply the <code>-inline</code> class to <code>lux-form__item</code> for displaying toggle switches inline.
    :code(lang="html")
      <div class="lux-form__item -inline">
        <lux-switch id="toggle5" label="Label"></lux-switch>
      </div>
      <div class="lux-form__item -inline">
        <lux-switch id="toggle6" label="Label"></lux-switch>
      </div>
  .lux-tabs-panel#html-inline
    .lux-tab__description
      | Apply the class <code>-inline</code> to <code>lux-form__item</code> to display switches inline.
    :code(lang="html")
      <fieldset>
        <legend class="lux-label">Configure options</legend>
        <div class="lux-form__item -inline">
          <label class="lux-switch" for="toggle5">
            <input type="checkbox" class="lux-switch__input" id="toggle5">
            <span class="lux-switch__content">
              <span class="lux-switch__thumb"></span>
            </span>
            <span class="lux-switch__label">Label</span>
          </label>
        </div>
        <div class="lux-form__item -inline">
          <label class="lux-switch" for="toggle6">
            <input type="checkbox" class="lux-switch__input" id="toggle6">
            <span class="lux-switch__content">
              <span class="lux-switch__thumb"></span>
            </span>
            <span class="lux-switch__label">Label</span>
          </label>
        </div>
      </fieldset>

h3 Switch list
p.-text
  | Switch lists are used to wrap a series of switches in a list.
  | To render, apply the class <code>-list</code> to <code>lux-form__item</code>.
.example.-mb--3
  .-p--3
    legend.lux-label Select options
    ul.lux-form__item.-list(style="max-width:20rem")
      li.lux-form__item
        label.lux-switch(for="toggle10")
          span.lux-switch__label Label
          input(type="checkbox", class="lux-switch__input", id="toggle10")
          span(class="lux-switch__content")
            span.lux-switch__thumb
      li.lux-form__item
        label.lux-switch(for="toggle11")
          span.lux-switch__label Label
          input(type="checkbox", class="lux-switch__input", id="toggle11")
          span(class="lux-switch__content")
            span.lux-switch__thumb
      li.lux-form__item
        label.lux-switch(for="toggle12")
          span.lux-switch__label Label
          input(type="checkbox", class="lux-switch__input", id="toggle12")
          span(class="lux-switch__content")
            span.lux-switch__thumb
      li.lux-form__item
        label.lux-switch(for="toggle13")
          span.lux-switch__label Label
          input(type="checkbox", class="lux-switch__input", id="toggle13")
          span(class="lux-switch__content")
            span.lux-switch__thumb
      li.lux-form__item
        label.lux-switch(for="toggle14")
          span.lux-switch__label Label
          input(type="checkbox", class="lux-switch__input", id="toggle14")
          span(class="lux-switch__content")
            span.lux-switch__thumb
  .example-tabs.-pl--2
    ul.lux-tabs#example-switchlist
      li.-disabled
        a(href=`#webcomponent-switchlist`) Web Component
      li.-active
        a(href=`#html-switchlist`) HTML Blueprint
  .lux-tabs-panel#webcomponent-switchlist
  .lux-tabs-panel.-active#html-switchlist
    :code(lang='html')
      <fieldset>
        <legend class="lux-label">Select options</legend>
        <ul class="lux-form__item -list">
          <li class="lux-form__item">
            <label class="lux-switch" for="toggle10">
              <span class="lux-switch__label">Label</span>
              <input type="checkbox" class="lux-switch__input" id="toggle10">
              <span class="lux-switch__content">
                <span class="lux-switch__thumb"></span>
              </span>
            </label>
          </li>
          <li class="lux-form__item">
            <label class="lux-switch" for="toggle11">
              <span class="lux-switch__label">Label</span>
              <input type="checkbox" class="lux-switch__input" id="toggle11">
              <span class="lux-switch__content">
                <span class="lux-switch__thumb"></span>
              </span>
            </label>
          </li>
          <li class="lux-form__item">
            <label class="lux-switch" for="toggle12">
              <span class="lux-switch__label">Label</span>
              <input type="checkbox" class="lux-switch__input" id="toggle12">
              <span class="lux-switch__content">
                <span class="lux-switch__thumb"></span>
              </span>
            </label>
          </li>
          <li class="lux-form__item">
            <label class="lux-switch" for="toggle13">
              <span class="lux-switch__label">Label</span>
              <input type="checkbox" class="lux-switch__input" id="toggle13">
              <span class="lux-switch__content">
                <span class="lux-switch__thumb"></span>
              </span>
            </label>
          </li>
          <li class="lux-form__item" for="toggle14">
            <label class="lux-switch">
              <span class="lux-switch__label">Label</span>
              <input type="checkbox" class="lux-switch__input" id="toggle14">
              <span class="lux-switch__content">
                <span class="lux-switch__thumb"></span>
              </span>
            </label>
          </li>
        </ul>
      </fieldset>

h3 Switch with Left Label
.example.-mb--3
  .-p--3
    .lux-form__item
      label.lux-switch(for="toggle7")
        span.lux-switch__label Label
        input(type="checkbox", class="lux-switch__input", id="toggle7")
        span(id="toggle7", class="lux-switch__content")
          span.lux-switch__thumb
  .example-tabs.-pl--2
    ul.lux-tabs#example-switch-label-left
      li.-disabled
        a(href=`#webcomponent-switch-label-left`) Web Component
      li.-active
        a(href=`#html-switch-label-left`) HTML Blueprint
  .lux-tabs-panel#webcomponent-switch-label-left
  .lux-tabs-panel.-active#html-switch-label-left
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-switch" for="toggle7">
          <span class="lux-switch__label">Label</span>
          <input type="checkbox" class="lux-switch__input" id="toggle7">
          <span class="lux-switch__content">
            <span class="lux-switch__thumb"></span>
          </span>
        </label>
      </div>

h3 Switch with Hidden Label
.example.-mb--3
  .-p--3
    .lux-form__item
      lux-switch(id='toggle8',label='Label', hide-label)
  .example-tabs.-pl--2
    ul.lux-tabs#example-hidden-label
      li.-active
        a(href=`#webcomponent-hidden-label`) Web Component
      li
        a(href=`#html-hidden-label`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-hidden-label
    .lux-tab__description
      | Apply the <code>hide-label</code> attribute to <code>lux-switch</code> to render a switch without a label. Use this method for rendering switches
      | in close proximity to other text that clearly describes its purpose.
    :code(lang="html")
      <div class="lux-form__item">
        <lux-switch id="toggle8" label="Label" hide-label></lux-switch>
      </div>
  .lux-tabs-panel#html-hidden-label
    .lux-tab__description
      | Apply the class <code>-label--hide</code> to <code>lux-switch</code> to render a switch without a label. Use this method for rendering switches
      | in close proximity to other text that clearly describes its purpose.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-switch -label--hide" for="toggle8">
          <input type="checkbox" class="lux-switch__input" id="toggle8">
          <span class="lux-switch__content">
            <span class="lux-switch__thumb"></span>
          </span>
          <span class="lux-switch__label">Label</span>
        </label>
      </div>

h3 Sizes
p.-text
  | Toggle switch supports different sizes: <code>-xs</code>, <code>-sm</code>.
  | The default size is <code>-sm</code>.
.example.-mb--3
  .-p--3
    .-p--2
      .lux-form__item
        lux-switch(id='toggle15',label='Label', size='xs')
    .-p--2
      .lux-form__item
        lux-switch(id='toggle16',label='Label', size='sm')
  .example-tabs.-pl--2
    ul.lux-tabs#example-input-sizes
      li.-active
        a(href=`#webcomponent-input-sizes`) Web Component
      li
        a(href=`#html-input-sizes`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-input-sizes
    :code(lang="html")
      <!-- xs -->
      <div class="lux-form__item">
        <lux-switch id="toggle15" label="Label" size="xs"></lux-switch>
      </div>
      
      <!-- sm -->
      <div class="lux-form__item">
        <lux-switch id="toggle16" label="Label" size="sm"></lux-switch>
      </div>
  .lux-tabs-panel#html-input-sizes
    :code(lang='html')
      <!-- xs -->
      <div class="lux-form__item">
        <label class="lux-switch -xs" for="toggle15">
          <input type="checkbox" class="lux-switch__input" id="toggle15">
          <span class="lux-switch__content">
            <span class="lux-switch__thumb"></span>
          </span>
          <span class="lux-switch__label">Label</span>
        </label>
      </div>
      
      <!-- sm -->
      <div class="lux-form__item">
        <label class="lux-switch -sm" for="toggle16">
          <input type="checkbox" class="lux-switch__input" id="toggle16">
          <span class="lux-switch__content">
            <span class="lux-switch__thumb"></span>
          </span>
          <span class="lux-switch__label">Label</span>
        </label>
      </div>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      lux.tab(document.querySelectorAll('.lux-tabs-panel .lux-tabs'));
    }
  );
