h2 Examples
p.-text
  | To render a range slider, apply the class <code>lux-input</code> to an <code>input type="range"</code>.
  | Range widths are fluid by default.

h3 Base
.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range01") Range label
      input(class="lux-input", type="range", id="range01")
  .example-tabs.-pl--2
    ul#lux-tabs-base.lux-tabs
      li.-disabled
        a(href='#lux-tabs-base-web') Web Component
      li.-active
        a(href='#lux-tabs-base-html') HTML Blueprint
  #lux-tabs-base-web.lux-tabs-panel
  #lux-tabs-base-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range01">Range label</label>
        <input class="lux-input" type="range" id="range01">
      </div>

      <script>lux.rangeSlider(document.getElementById('range01'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range02") Range label
      input(class="lux-input", type="range", id="range02" disabled)
  .example-tabs.-pl--2
    ul#lux-tabs-disabled.lux-tabs
      li.-disabled
        a(href='#lux-tabs-disabled-web') Web Component
      li.-active
        a(href='#lux-tabs-disabled-html') HTML Blueprint
  #lux-tabs-disabled-web.lux-tabs-panel
  #lux-tabs-disabled-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range02">Range label</label>
        <input class="lux-input" type="range" id="range02" disabled>
      </div>

      <script>lux.rangeSlider(document.getElementById('range02'));</script>

h3 Multiple Labels
.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range03") Range label
      .lux-input__wrapper.-d--flex
        span.-text.-mr--2 200GB
        input(type="range", class="lux-input", id="range03")
        span.-text.-ml--2 5TB
  .example-tabs.-pl--2
    ul#lux-tabs-multiple-labels.lux-tabs
      li.-disabled
        a(href='#lux-tabs-multiple-labels-web') Web Component
      li.-active
        a(href='#lux-tabs-multiple-labels-html') HTML Blueprint
  #lux-tabs-multiple-labels-web.lux-tabs-panel
  #lux-tabs-multiple-labels-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range03">Range label</label>
        <div class="lux-input__wrapper -d--flex">
          <span class="-text">200GB</span>
          <input class="lux-input -mx--2" type="range" id="range03">
          <span class="-text">5TB</span>
        </div>
      </div>

      <script>lux.rangeSlider(document.getElementById('range03'));</script>

h2 Achieve consistent rendering
p.-text
  | As webkit browsers don't support an active track bar, we've created our own.
  | You will either need a JavaScript solution for moving the <code>lux-input__thumb</code>
  | element and changing the size of <code>lux-input__progress</code>, or
  | you can use Lux's JavaScript library as it provides this functionality out of the box.

h3 Base
.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range04") Range label
      .lux-input__wrapper
        input(class="lux-input", type="range", id="range04")
        .lux-input__progress
        .lux-input__thumb
  .example-tabs.-pl--2
    ul#lux-tabs-with-progress.lux-tabs
      li.-disabled
        a(href='#lux-tabs-with-progress-web') Web Component
      li.-active
        a(href='#lux-tabs-with-progress-html') HTML Blueprint
  #lux-tabs-with-progress-web.lux-tabs-panel
  #lux-tabs-with-progress-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range04">Range label</label>
        <div class="lux-input__wrapper">
          <input class="lux-input" type="range" id="range04">
          <div class="lux-input__progress"></div>
          <div class="lux-input__thumb"></div>
        </div>
      </div>

      <script>lux.rangeSlider(document.getElementById('range04'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range05") Range label
      .lux-input__wrapper
        input(class="lux-input", type="range", id="range05", disabled)
        .lux-input__progress
        .lux-input__thumb
  .example-tabs.-pl--2
    ul#lux-tabs-with-progress-disabled.lux-tabs
      li.-disabled
        a(href='#lux-tabs-with-progress-disabled-web') Web Component
      li.-active
        a(href='#lux-tabs-with-progress-disabled-html') HTML Blueprint
  #lux-tabs-with-progress-disabled-web.lux-tabs-panel
  #lux-tabs-with-progress-disabled-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range05">Range label</label>
        <div class="lux-input__wrapper">
          <input class="lux-input" type="range" id="range05" disabled>
          <div class="lux-input__progress"></div>
          <div class="lux-input__thumb"></div>
        </div>
      </div>

      <script>lux.rangeSlider(document.getElementById('range05'));</script>

h3 Multiple Labels
.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range06") Range label
      .lux-input__wrapper.-d--flex
        span.-text.-mr--2 200GB
        .lux-input__wrapper.-w--100
          input(type="range", class="lux-input", id="range06")
          .lux-input__progress
          .lux-input__thumb
        span.-text.-ml--2 5TB
  .example-tabs.-pl--2
    ul#lux-tabs-with-progress-multiple-labels.lux-tabs
      li.-disabled
        a(href='#lux-tabs-with-progress-multiple-labels-web') Web Component
      li.-active
        a(href='#lux-tabs-with-progress-multiple-labels-html') HTML Blueprint
  #lux-tabs-with-progress-multiple-labels-web.lux-tabs-panel
  #lux-tabs-with-progress-multiple-labels-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range06">Range label</label>
        <div class="lux-input__wrapper -d--flex">
          <span class="-text -mr--2">200GB</span>
          <div class="lux-input__wrapper -w--100">
            <input class="lux-input" type="range" id="range06">
            <div class="lux-input__progress"></div>
            <div class="lux-input__thumb"></div>
          </div>
          <span class="-text -ml--2">5TB</span>
        </div>
      </div>

      <script>lux.rangeSlider(document.getElementById('range06'));</script>

h2 Radio buttons as range slider
p.-text
  | Enable range sliders to function like radio buttons.

.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range07") Range label
      .lux-input__wrapper
        input(class="lux-input", type="range", min="0", max="4", step="1", id="range07")
        .lux-input__tick-bar
          div
            .lux-input__tick
            .lux-input__tick-label Monthly
          div
            .lux-input__tick
            .lux-input__tick-label 1 year
          div
            .lux-input__tick
            .lux-input__tick-label 2 years
          div
            .lux-input__tick
            .lux-input__tick-label 3 years
          div
            .lux-input__tick
            .lux-input__tick-label > 3 years
  .example-tabs.-pl--2
    ul#lux-tabs-radio-buttons.lux-tabs
      li.-disabled
        a(href='#lux-tabs-radio-buttons-web') Web Component
      li.-active
        a(href='#lux-tabs-radio-buttons-html') HTML Blueprint
  #lux-tabs-radio-buttons-web.lux-tabs-panel
  #lux-tabs-radio-buttons-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range07">Range label</label>
        <div class="lux-input__wrapper">
          <input class="lux-input" type="range" min="0" max="4" step="1" id="range07">
          <div class="lux-input__tick-bar">
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">Monthly</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">1 year</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">2 years</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">3 years</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">&gt; 3 years</div>
            </div>
          </div>
        </div>
      </div>

      <script>lux.rangeSlider(document.getElementById('range07'));</script>

h3 Disabled
.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range08") Range label
      .lux-input__wrapper
        input(class="lux-input", type="range", min="0", max="4", step="1", id="range08", disabled)
        .lux-input__tick-bar
          div
            .lux-input__tick
            .lux-input__tick-label Monthly
          div
            .lux-input__tick
            .lux-input__tick-label 1 year
          div
            .lux-input__tick
            .lux-input__tick-label 2 years
          div
            .lux-input__tick
            .lux-input__tick-label 3 years
          div
            .lux-input__tick
            .lux-input__tick-label > 3 years
  .example-tabs.-pl--2
    ul#lux-tabs-radio-buttons-disabled.lux-tabs
      li.-disabled
        a(href='#lux-tabs-radio-buttons-disabled-web') Web Component
      li.-active
        a(href='#lux-tabs-radio-buttons-disabled-html') HTML Blueprint
  #lux-tabs-radio-buttons-disabled-web.lux-tabs-panel
  #lux-tabs-radio-buttons-disabled-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range08">Range label</label>
        <div class="lux-input__wrapper">
          <input class="lux-input" type="range" min="0" max="4" step="1" id="range08" disabled>
          <div class="lux-input__tick-bar">
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">Monthly</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">1 year</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">2 years</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">3 years</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">&gt; 3 years</div>
            </div>
          </div>
        </div>
      </div>

      <script>lux.rangeSlider(document.getElementById('range08'));</script>

h3 Consistent rendering in WebKit browsers
.example.-mb--3
  .-p--3
    .lux-form__item
      label(class="lux-label", for="range09") Range label
      .lux-input__wrapper
        input(class="lux-input", type="range", min="0", max="4", step="1", id="range09")
        .lux-input__tick-bar
          div
            .lux-input__tick
            .lux-input__tick-label Monthly
          div
            .lux-input__tick
            .lux-input__tick-label 1 year
          div
            .lux-input__tick
            .lux-input__tick-label 2 years
          div
            .lux-input__tick
            .lux-input__tick-label 3 years
          div
            .lux-input__tick
            .lux-input__tick-label > 3 years
        .lux-input__progress
        .lux-input__thumb
  .example-tabs.-pl--2
    ul#lux-tabs-with-progress-and-radio-buttons.lux-tabs
      li.-disabled
        a(href='#lux-tabs-with-progress-and-radio-buttons-web') Web Component
      li.-active
        a(href='#lux-tabs-with-progress-and-radio-buttons-html') HTML Blueprint
  #lux-tabs-with-progress-and-radio-buttons-web.lux-tabs-panel
  #lux-tabs-with-progress-and-radio-buttons-html.lux-tabs-panel.-active
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <div class="lux-form__item">
        <label class="lux-label" for="range09">Range label</label>
        <div class="lux-input__wrapper">
          <input class="lux-input" type="range" min="0" max="4" step="1" id="range09">
          <div class="lux-input__tick-bar">
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">Monthly</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">1 year</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">2 years</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">3 years</div>
            </div>
            <div>
              <div class="lux-input__tick"></div>
              <div class="lux-input__tick-label">&gt; 3 years</div>
            </div>
          </div>
          <div class="lux-input__progress"></div>
          <div class="lux-input__thumb"></div>
        </div>
      </div>
      
      <script>lux.rangeSlider(document.getElementById('range09'));</script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      lux.tab(document.getElementById('lux-tabs-base'));
      lux.tab(document.getElementById('lux-tabs-disabled'));
      lux.tab(document.getElementById('lux-tabs-multiple-labels'));
      lux.tab(document.getElementById('lux-tabs-with-progress'));
      lux.tab(document.getElementById('lux-tabs-with-progress-disabled'));
      lux.tab(document.getElementById('lux-tabs-with-progress-multiple-labels'));
      lux.tab(document.getElementById('lux-tabs-radio-buttons'));
      lux.tab(document.getElementById('lux-tabs-radio-buttons-disabled'));
      lux.tab(document.getElementById('lux-tabs-with-progress-and-radio-buttons'));
      lux.rangeSlider(document.querySelectorAll('.lux-input__wrapper > input[type="range"]'));
    }
  );
