h2 Examples
h3 Interaction
.example.-mb--3(style='overflow:hidden;')
  .-position--relative.-z--0(style='height:20rem;overflow:hidden;')
    .-p--3
      .-d--flex.-align-items--center
        button.lux-button.-icon#mobile-navigation-interaction-trigger(data-target="#mobile-navigation-example")
          .lux-button__content
            i.lux-icon.icon-menu.-sm--2
        b.-ml--2 Click menu button to open Mobile navigation
      each i in [1, 2]
        p.-text.-mb--3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eu dignissim nisi, gravida pharetra elit. Etiam eu urna orci. Nulla et lorem eleifend, ultrices massa id, molestie urna. Nulla nec quam in turpis fermentum dictum vitae ac nibh. Suspendisse lacus nisi, sollicitudin in commodo quis, euismod id enim. Donec semper nunc et tellus convallis, tristique varius turpis gravida. Quisque hendrerit magna ac bibendum molestie. Nullam scelerisque libero vitae lorem dignissim ullamcorper. Integer mollis auctor enim vel molestie. Etiam id vestibulum augue, vitae dapibus quam. Nunc tincidunt aliquet lacus nec malesuada. Donec ultricies augue non lorem eleifend, eget ullamcorper lacus elementum. Donec condimentum enim nec justo auctor, nec bibendum ipsum dapibus.
    .lux-mobile-nav#mobile-navigation-example
      .lux-backdrop.-closed.-position--absolute
        .lux-backdrop__wrapper
          .lux-drawer.-left.-animated.lux-mobile-nav__first-level.-position--absolute
            .-position--relative
              .lux-mobile-nav__first-level-content.-w--100
                .lux-drawer__header.lux-mobile-nav__header
                  button.lux-button.-flat.lux-dropdown__trigger.-animate.-no-hover.-b--transparent(id="button-site-menu2", data-target="dropdown-2-menu") Cloud Application Manager
                  button.lux-button.-icon.-close(aria-label='Close')
                    .lux-button__content
                      i.lux-icon.icon-x
                .lux-mobile-nav__dropdown
                  .lux-dropdown__menu.-list.lux-mobile-nav__dropdown-content#dropdown-2-menu
                    a.lux-dropdown__menu-item.-h--auto.-active(href="#")
                      span.lux-dropdown__menu-item_title App name
                      span.lux-dropdown__menu-item_text App description
                    a.lux-dropdown__menu-item.-h--auto(href="#")
                      span.lux-dropdown__menu-item_title App name 2
                      span.lux-dropdown__menu-item_text App description
                    a.lux-dropdown__menu-item.-h--auto(href="#")
                      span.lux-dropdown__menu-item_title App name 3
                      span.lux-dropdown__menu-item_text App description
                .lux-drawer__content.lux-mobile-nav__content
                  .lux-mobile-nav__user
                    .lux-mobile-nav__user-name
                      span Alessandro Ray
                      i.lux-icon.-xs.icon-user
                    button.lux-button.-flat.lux-dropdown__trigger.-px--1.-animate.-no-hover.-b--transparent(id="button-user-menu2", data-target="dropdown-3-menu") Menu
                  .lux-mobile-nav__dropdown
                    .lux-dropdown__menu.lux-mobile-nav__dropdown-content#dropdown-3-menu
                      a.lux-dropdown__menu-item(href="#")
                        i.lux-icon.icon-user
                        span Item 1
                      a.lux-dropdown__menu-item(href="#")
                        i.lux-icon.icon-logout
                        span Item 2
                  ul.lux-tabs.-vertical.-icons
                    li.-active
                      a(href='#second-level-1')
                        i.lux-icon.icon-atom
                        span Toggle me
                    li
                      a(href='#tab-link')
                        i.lux-icon.icon-atom
                        span Tab link
                    li
                      a(href='#tab-link')
                        i.lux-icon.icon-atom
                        span Tab link
                  .lux-divider
                  .lux-mobile-nav__logout
                    span Logout
                    i.lux-icon.-xs.icon-logout
            .lux-mobile-nav__drawers
              .lux-drawer.-right.-position--absolute#second-level-1
                .lux-drawer__header.lux-mobile-nav__header
                  button.lux-button.-flat.-icon.-no-hover.-back(aria-label='Back')
                    .lux-button__content
                      i.lux-icon.icon-chevron-left
                  .lux-mobile-nav__header-title Inventory
                  button.lux-button.-icon.-close(aria-label='Close')
                    .lux-button__content
                      i.lux-icon.icon-x
                .lux-drawer__content.lux-mobile-nav__content
                  ul.lux-mobile-nav__list
                    li
                      a(href='#')
                        .lux-mobile-nav__list-title Title A
                      .lux-mobile-nav__list-item-list
                        ul.lux-tabs.-vertical.-sm
                          li
                            a.lux-mobile-nav-item-tab Sub tab A
                          li
                            a.lux-mobile-nav-item-tab Sub tab B
                    li
                      a(href='#')
                        .lux-mobile-nav__list-title Title B
                      .lux-mobile-nav__list-item-list
                        ul.lux-tabs.-vertical.-sm
                          li
                            a.lux-mobile-nav-item-tab Sub tab A
                          li
                            a.lux-mobile-nav-item-tab Sub tab B
                    li.-active.-expanded
                      a(href='#')
                        .lux-mobile-nav__list-title Title C
                      .lux-mobile-nav__list-item-list
                        ul.lux-tabs.-vertical.-sm
                          li
                            a.lux-mobile-nav-item-tab.-active Sub tab A
                          li
                            a.lux-mobile-nav-item-tab Sub tab B
                    li
                      a(href='#tab-link')
                        .lux-mobile-nav__list-title Single level
  .example-tabs.-pl--2
    ul.lux-tabs#examples-interaction
      li.-disabled
        a(href=`#webcomponent-interaction`) Web Component
      li.-active
        a(href=`#html-interaction`) HTML Blueprint
  .lux-tabs-panel#webcomponent-interaction
  .lux-tabs-panel.-active#html-interaction
    :code(lang="html")
      <!-- Trigger -->
      <button class="lux-button -icon" id="mobile-navigation-interaction-trigger" data-target="#mobile-navigation-example">
        <div class="lux-button__content">
          <i class="lux-icon icon-menu -sm--2"></i>
        </div>
      </button>

      <!-- Mobile Navigation -->
      <div class="lux-mobile-nav" id="mobile-navigation-example">
        <div class="lux-backdrop -closed -position--absolute">
          <div class="lux-backdrop__wrapper">
            <div class="lux-drawer -left -animated lux-mobile-nav__first-level -position--absolute">
              <div class="-position--relative">
                <div class="lux-mobile-nav__first-level-content -w--100">
                  <div class="lux-drawer__header lux-mobile-nav__header">
                    <button class="lux-button -flat lux-dropdown__trigger -animate -no-hover -b--transparent" id="button-site-menu2" data-target="dropdown-2-menu">Cloud Application Manager</button>
                    <button class="lux-button -icon -close" aria-label="Close">
                      <div class="lux-button__content"><i class="lux-icon icon-x"></i></div>
                    </button>
                  </div>
                  <div class="lux-mobile-nav__dropdown">
                    <div class="lux-dropdown__menu -list lux-mobile-nav__dropdown-content" id="dropdown-2-menu">
                      <a class="lux-dropdown__menu-item -h--auto -active" href="#"><span class="lux-dropdown__menu-item_title">App name</span><span class="lux-dropdown__menu-item_text">App description</span></a>
                      <a class="lux-dropdown__menu-item -h--auto" href="#"><span class="lux-dropdown__menu-item_title">App name 2</span><span class="lux-dropdown__menu-item_text">App description</span></a>
                      <a class="lux-dropdown__menu-item -h--auto" href="#"><span class="lux-dropdown__menu-item_title">App name 3</span><span class="lux-dropdown__menu-item_text">App description</span></a>
                    </div>
                  </div>
                  <div class="lux-drawer__content lux-mobile-nav__content">
                    <div class="lux-mobile-nav__user">
                      <div class="lux-mobile-nav__user-name"><span>Alessandro Ray</span><i class="lux-icon -xs icon-user"></i></div>
                      <button class="lux-button -flat lux-dropdown__trigger -px--1 -animate -no-hover -b--transparent" id="button-user-menu2" data-target="dropdown-3-menu">Menu</button>
                    </div>
                    <div class="lux-mobile-nav__dropdown">
                      <div class="lux-dropdown__menu lux-mobile-nav__dropdown-content" id="dropdown-3-menu">
                        <a class="lux-dropdown__menu-item" href="#"><i class="lux-icon icon-user"></i><span>Item 1</span></a><a class="lux-dropdown__menu-item" href="#"><i class="lux-icon icon-logout"></i><span>Item 2</span></a>
                      </div>
                    </div>
                    <ul class="lux-tabs -vertical -icons">
                      <li class="-active">
                        <a href="#second-level-1"><i class="lux-icon icon-atom"></i><span>Toggle me</span></a>
                      </li>
                      <li>
                        <a href="#tab-link"><i class="lux-icon icon-atom"></i><span>Tab link</span></a>
                      </li>
                      <li>
                        <a href="#tab-link"><i class="lux-icon icon-atom"></i><span>Tab link</span></a>
                      </li>
                    </ul>
                    <div class="lux-divider"></div>
                    <div class="lux-mobile-nav__logout"><span>Logout</span><i class="lux-icon -xs icon-logout"></i></div>
                  </div>
                </div>
              </div>
              <div class="lux-mobile-nav__drawers">
                <div class="lux-drawer -right -position--absolute" id="second-level-1">
                  <div class="lux-drawer__header lux-mobile-nav__header">
                    <button class="lux-button -flat -icon -no-hover -back" aria-label="Back">
                      <div class="lux-button__content"><i class="lux-icon icon-chevron-left"></i></div>
                    </button>
                    <div class="lux-mobile-nav__header-title">Inventory</div>
                    <button class="lux-button -icon -close" aria-label="Close">
                      <div class="lux-button__content"><i class="lux-icon icon-x"></i></div>
                    </button>
                  </div>
                  <div class="lux-drawer__content lux-mobile-nav__content">
                    <ul class="lux-mobile-nav__list">
                      <li>
                        <a href="#">
                          <div class="lux-mobile-nav__list-title">Title A</div>
                        </a>
                        <div class="lux-mobile-nav__list-item-list">
                          <ul class="lux-tabs -vertical -sm">
                            <li><a class="lux-mobile-nav-item-tab">Sub tab A</a></li>
                            <li><a class="lux-mobile-nav-item-tab">Sub tab B</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#">
                          <div class="lux-mobile-nav__list-title">Title B</div>
                        </a>
                        <div class="lux-mobile-nav__list-item-list">
                          <ul class="lux-tabs -vertical -sm">
                            <li><a class="lux-mobile-nav-item-tab">Sub tab A</a></li>
                            <li><a class="lux-mobile-nav-item-tab">Sub tab B</a></li>
                          </ul>
                        </div>
                      </li>
                      <li class="-active -expanded">
                        <a href="#">
                          <div class="lux-mobile-nav__list-title">Title C</div>
                        </a>
                        <div class="lux-mobile-nav__list-item-list">
                          <ul class="lux-tabs -vertical -sm">
                            <li><a class="lux-mobile-nav-item-tab -active">Sub tab A</a></li>
                            <li><a class="lux-mobile-nav-item-tab">Sub tab B</a></li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#tab-link">
                          <div class="lux-mobile-nav__list-title">Single level</div>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- JavaScript -->
      <script>
        lux.mobilenav(document.querySelector("#mobile-navigation-interaction-trigger"));
      </script>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      lux.mobilenav(document.querySelector('#mobile-navigation-interaction-trigger'));
      lux.tab(document.querySelector('#examples-interaction'));
    },
    false
  );
