h2 Examples
p.-text
  | To render price, use the class <code>lux-price</code>.

h3 Base
.example.-mb--3
  .-p--3
    .lux-price.-m--3
      sup
        | $
      | 100
      sup
        | 00
  .example-tabs.-pl--2
    ul.lux-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .lux-tabs-panel#webcomponent-base
  .lux-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="lux-price">
        <sup>$</sup>
        100
        <sup>00</sup>
      </div>

h3 Sizes
.example.-mb--3
  .-p--3
    each size in ['sm', 'md', 'lg']
      p.-text--bold.-mb--3= '-' + size
      .lux-price(class=`-${size}`)
        sup
          | $
        | 100
        sup
          | 00
  .example-tabs.-pl--2
    ul.lux-tabs#example-sizes
      li.-disabled
        a(href=`#webcomponent-sizes`) Web Component
      li.-active
        a(href=`#html-sizes`) HTML Blueprint
  .lux-tabs-panel#webcomponent-sizes
  .lux-tabs-panel.-active#html-sizes
    :code(lang="html")
      <div class="lux-price -sm">
        <sup>$</sup>
        100
        <sup>00</sup>
      </div>
      <div class="lux-price -md">
        <sup>$</sup>
        100
        <sup>00</sup>
      </div>
      <div class="lux-price -lg">
        <sup>$</sup>
        100
        <sup>00</sup>
      </div>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      lux.tab(document.getElementById('example-base'));
      lux.tab(document.getElementById('example-sizes'));
    }
  );