---
title: Price
description: Use price to display consistent price text in your project.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.lux-tabs-panel.-active#examplestab
  include _examples

.lux-tabs-panel#propertiestab
  include _properties

.lux-tabs-panel#accessibilitytab
  include _accessibility
