h2 Examples
p.-text
  | Stat components are designed to render in combination with Lux's
  | <a href="../../foundations/grid">Grid component</a>. Grid provides Stats with responsive
  | capabilities that enable them to stack on smaller viewports.

h3 Base
p.-text
  | To display a Stat, apply the class <code>lux-stat</code> to a <code>div</code>
  | or use an <code>a</code> tag to render as a link.
.example.-mb--3
  .-p--3
    .lux-grid
      .lux-col.-w--6.-w-lg--3
        .lux-stat
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Base stat
              .lux-stat-metric__value
                | 1
      .lux-col.-w--6.-w-lg--3
        .lux-stat.-disabled
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Disabled stat
              .lux-stat-metric__value
                | 10
  .example-tabs.-pl--2
    ul.lux-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .lux-tabs-panel#webcomponent-base
  .lux-tabs-panel.-active#html-base
    :code(lang="html")
      <!-- Base -->
      <div class="lux-stat">
        <div class="lux-stat__content">
          <div class="lux-stat-metric">
            <div class="lux-stat-metric__title">Base stat</div>
            <div class="lux-stat-metric__value">1</div>
          </div>
        </div>
      </div>
      <!-- Disabled -->
      <div class="lux-stat -disabled">
        <div class="lux-stat__content">
          <div class="lux-stat-metric">
            <div class="lux-stat-metric__title">Disabled stat</div>
            <div class="lux-stat-metric__value">10</div>
          </div>
        </div>
      </div>

h3 Stat Card
p.-text
  | When using Stats as menu items, use the class <code>-active</code> to indicate which Stat item is currently active.
.example.-mb--3
  .-p--3
    .lux-grid
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-card
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Stat card
              .lux-stat-metric__value
                | 1
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-card.-active
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Active stat card
              .lux-stat-metric__value
                | 100
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-card
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Stat card
              .lux-stat-metric__value
                | 10
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-card
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Stat card
              .lux-stat-metric__value
                | 1000
  .example-tabs.-pl--2
    ul.lux-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .lux-tabs-panel#webcomponent-base
  .lux-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="lux-grid">
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -card">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__title">Stat card</div>
                <div class="lux-stat-metric__value">1</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -card -active">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__title">Active stat card</div>
                <div class="lux-stat-metric__value">100</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -card">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__title">Stat card</div>
                <div class="lux-stat-metric__value">10</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -card">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__title">Stat card</div>
                <div class="lux-stat-metric__value">1000</div>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 Center Aligned
p.-text
  | Apply <code>-center</code> to center align a Stat.
.example.-mb--3
  .-p--3
    .lux-grid
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-card.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Stat card
              .lux-stat-metric__value
                | 1
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-card.-center.-active
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Active stat card
              .lux-stat-metric__value
                | 100
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-card.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Stat card
              .lux-stat-metric__value
                | 10
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-card.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__title
                | Stat card
              .lux-stat-metric__value
                | 1000
  .example-tabs.-pl--2
    ul.lux-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .lux-tabs-panel#webcomponent-base
  .lux-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="lux-grid">
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -card -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__title">Stat card</div>
                <div class="lux-stat-metric__value">1</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -card -center -active">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__title">Active stat card</div>
                <div class="lux-stat-metric__value">100</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -card -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__title">Stat card</div>
                <div class="lux-stat-metric__value">10</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -card -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__title">Stat card</div>
                <div class="lux-stat-metric__value">1000</div>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 Portal
p.-text
  | Apply <code>-portal</code> to easily theme a Stat for portal dashboards.
.example.-mb--3
  .-p--3
    .lux-grid
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-portal.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__value
                | 1
              .lux-stat-metric__title
                | High Utilization
            .lux-stat-submetric
              .lux-stat-submetric__value
                | 16
              .lux-stat-submetric__title
                | Elevated
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-portal.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__value
                | 1
              .lux-stat-metric__title
                | Critical Performing
            .lux-stat-submetric
              .lux-stat-submetric__value
                | 21
              .lux-stat-submetric__title
                | Impacted
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-portal.-center.-active
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__value
                | 2
              .lux-stat-metric__title
                | Services Down
            .lux-stat-submetric
              .lux-stat-submetric__value
                | 47
              .lux-stat-submetric__title
                | Up
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-portal.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__value
                | 3
              .lux-stat-metric__title
                | Scheduled Maintenance
            .lux-stat-submetric
              .lux-stat-submetric__value
                | 1
              .lux-stat-submetric__title
                | Planned
  .example-tabs.-pl--2
    ul.lux-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .lux-tabs-panel#webcomponent-base
  .lux-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="lux-grid">
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -portal -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__value">1</div>
                <div class="lux-stat-metric__title">High Utilization</div>
              </div>
              <div class="lux-stat-submetric">
                <div class="lux-stat-submetric__value">16</div>
                <div class="lux-stat-submetric__title">Elevated</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -portal -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__value">1</div>
                <div class="lux-stat-metric__title">Critical Performing</div>
              </div>
              <div class="lux-stat-submetric">
                <div class="lux-stat-submetric__value">21</div>
                <div class="lux-stat-submetric__title">Impacted</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -portal -center -active">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__value">2</div>
                <div class="lux-stat-metric__title">Services Down</div>
              </div>
              <div class="lux-stat-submetric">
                <div class="lux-stat-submetric__value">47</div>
                <div class="lux-stat-submetric__title">Up</div>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -portal -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__value">3</div>
                <div class="lux-stat-metric__title">Scheduled Maintenance</div>
              </div>
              <div class="lux-stat-submetric">
                <div class="lux-stat-submetric__value">1</div>
                <div class="lux-stat-submetric__title">Planned</div>
              </div>
            </div>
          </div>
        </div>
      </div>

h3 Portal with Background Icons
p.-text
  | Use <code>lux-stat-background-icon</code> to define background icons for Portal Stat components.
.example.-mb--3
  .-p--3
    .lux-grid
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-portal.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__value
                | $21,000
              .lux-stat-metric__title
                | Outstanding Invoices
            .lux-stat-background-icon
              i.lux-icon.icon-file
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-portal.-center.-active
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__value
                | 8
              .lux-stat-metric__title
                | Active Tickets
            .lux-stat-background-icon
              i.lux-icon.icon-warning
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-portal.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__value
                | 115
              .lux-stat-metric__title
                | Active Orders
            .lux-stat-background-icon
              i.lux-icon.icon-map-marker
      .lux-col.-w--6.-w-lg--3.-pb--2.-pb-lg--0
        .lux-stat.-portal.-center
          .lux-stat__content
            .lux-stat-metric
              .lux-stat-metric__value
                | 5
              .lux-stat-metric__title
                | New Alerts
            .lux-stat-background-icon
              i.lux-icon.icon-mail
  .example-tabs.-pl--2
    ul.lux-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .lux-tabs-panel#webcomponent-base
  .lux-tabs-panel.-active#html-base
    :code(lang="html")
      <div class="lux-grid">
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -portal -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__value">1</div>
                <div class="lux-stat-metric__title">High Utilization</div>
              </div>
              <div class="lux-stat-background-icon">
                <i class="lux-icon icon-file"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -portal -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__value">1</div>
                <div class="lux-stat-metric__title">Critical Performing</div>
              </div>
              <div class="lux-stat-background-icon">
                <i class="lux-icon icon-warning"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -portal -center -active">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__value">2</div>
                <div class="lux-stat-metric__title">Services Down</div>
              </div>
              <div class="lux-stat-background-icon">
                <i class="lux-icon icon-map-marker"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="lux-col -w--6 -w-lg--3 -pb--2 -pb-lg--0">
          <div class="lux-stat -portal -center">
            <div class="lux-stat__content">
              <div class="lux-stat-metric">
                <div class="lux-stat-metric__value">3</div>
                <div class="lux-stat-metric__title">Scheduled Maintenance</div>
              </div>
              <div class="lux-stat-background-icon">
                <i class="lux-icon icon-mail"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      lux.tab(document.querySelectorAll('.lux-tabs-panel .lux-tabs'));
    }
  );
