---
title: Stat
description: Stats are used to prominently display text or number values.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.lux-tabs-panel.-active#examplestab
  include _examples

.lux-tabs-panel#propertiestab
  include _properties

.lux-tabs-panel#accessibilitytab
  include _accessibility
