---
title: Drawer
description: Drawers are flexible containers anchored to the top, right, bottom, or left of the screen. They are used primarily in Lux for displaying menus on small devices.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
styles:
  - assets/styles/drawer-ce
---
script(type='module' src='../../js/ce/ux-lux-ce/ux-lux-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-lux-ce/ux-lux-ce.js')

.lux-tabs-panel.-active#examplestab
  include _examples

.lux-tabs-panel#propertiestab
  include _properties

.lux-tabs-panel#accessibilitytab
  include _accessibility
