@import '../../../lux/_variables';
@import '../../../lux/_mixins';

.icon-library {
  >.lux-col {
    >.lux-card {
      align-items: center;
      border-color: transparent;
      justify-content: center;
    }
  }
}
