---
title: Activity
---

h3 Base
.test-activity-base.-w--100
  .lux-activity
    .lux-activity__day
      .lux-activity__header Monday, Apr 22 2019
      .lux-activity__content
        .lux-activity__item
          .lux-activity__start
            div 2:50 PM
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
        .lux-activity__item
          .lux-activity__start
            div 2:38 PM
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
        .lux-activity__item
          .lux-activity__start
            div 11:37 PM
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
    .lux-activity__day
      .lux-activity__header Monday, Apr 21 2019
      .lux-activity__content
        .lux-activity__item
          .lux-activity__start
            div 5:00 PM
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
        .lux-activity__item
          .lux-activity__start
            div 5:00 PM
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
        .lux-activity__item
          .lux-activity__start
            div 11:20 AM
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin

h3 Base with Avatar
.test-activity-base-avatar.-w--100
  .lux-activity
    .lux-activity__day
      .lux-activity__header Monday, Apr 22 2019
      .lux-activity__content
        .lux-activity__item
          .lux-activity__start
            div 2:50 PM
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
        .lux-activity__item
          .lux-activity__start
           div 2:38 PM
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
        .lux-activity__item
          .lux-activity__start
            div 11:37 PM
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
    .lux-activity__day
      .lux-activity__header Monday, Apr 21 2019
      .lux-activity__content
        .lux-activity__item
          .lux-activity__start
            div 5:00 PM
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
        .lux-activity__item
          .lux-activity__start
            div 5:00 PM
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin
        .lux-activity__item
          .lux-activity__start
            div 11:20 AM
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header Password change for user trent.anderson
            .lux-activity__end-footer Admin

h3 Feed
.test-activity-feed.-w--100
  .lux-activity.-feed
    .lux-activity__day
      .lux-activity__content
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/22/2019 &middot; 2:50 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/22/2019 &middot; 2:38 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/22/2019 &middot; 2:37 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/16/2019 &middot; 5:00 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/16/2019 &middot; 5:00 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/16/2019 &middot; 11:20 AM

h3 Compact Feed
.test-activity-compact-feed.-w--100
  .lux-activity.-feed.-compact
    .lux-activity__day
      .lux-activity__content
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/22/2019 &middot; 2:50 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/22/2019 &middot; 2:38 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/22/2019 &middot; 2:37 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/16/2019 &middot; 5:00 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/16/2019 &middot; 5:00 PM
        .lux-activity__item
          .lux-activity__item-avatar
            .lux-avatar
              img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-footer 04/16/2019 &middot; 11:20 AM

h3 Feed with stories
.test-activity-feed-stories.-w--100
  .lux-activity.-feed.-stories
    .lux-activity__day
      .lux-activity__content
        .lux-activity__item
          .lux-activity__start
            div
              .lux-avatar
                img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-content
              ul
                li
                  i.lux-icon.-icon--success.icon-check
                  div
                    div Instance successfully deployed
                    .-time 1 minute ago
                li
                  i.lux-icon.-icon--success.icon-check
                  div
                    div Machine active-directory-vbo8o-1 successfully deployed
                    .-time 2 minutes ago
                li
                  i.lux-icon.-icon--muted.icon-circle-plus-outline
                  div
                    div Executing install:Active Directory in machine active-directory-vbo8o-1
                    .-time 2 minutes ago
                li
                  i.lux-icon.-icon--muted.icon-circle-plus-outline
                  div
                    div Updating machine IPs
                    .-time 3 minutes ago
            .lux-activity__end-footer 04/22/2019
    .lux-activity__day
      .lux-activity__content
        .lux-activity__item
          .lux-activity__start
            div
              .lux-avatar
                img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-content
              ul
                li
                  i.lux-icon.-icon--success.icon-check
                  div
                    div Instance successfully deployed
                    .-time 1 minute ago
                li
                  i.lux-icon.-icon--success.icon-check
                  div
                    div Machine active-directory-vbo8o-1 successfully deployed
                    .-time 2 minutes ago
                li
                  i.lux-icon.-icon--muted.icon-circle-plus-outline
                  div
                    div Executing install:Active Directory in machine active-directory-vbo8o-1
                    .-time 2 minutes ago
                li
                  i.lux-icon.-icon--muted.icon-circle-plus-outline
                  div
                    div Updating machine IPs
                    .-time 3 minutes ago
            .lux-activity__end-footer 04/21/2019

h3 Feed with stories and operation icons
.test-activity-feed-operation-icons.-w--100
  .lux-activity.-feed.-stories
    .lux-activity__day
      .lux-activity__content
        .lux-activity__item
          .lux-activity__start
            div
              i.lux-icon.-icon--muted.icon-circle-play-outline
              .lux-avatar
                img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-content
              ul
                li
                  i.lux-icon.-icon--success.icon-check
                  div
                    div Instance successfully deployed
                    .-time 1 minute ago
                li
                  i.lux-icon.-icon--success.icon-check
                  div
                    div Machine active-directory-vbo8o-1 successfully deployed
                    .-time 2 minutes ago
                li
                  i.lux-icon.-icon--muted.icon-circle-plus-outline
                  div
                    div Executing install:Active Directory in machine active-directory-vbo8o-1
                    .-time 2 minutes ago
                li
                  i.lux-icon.-icon--muted.icon-circle-plus-outline
                  div
                    div Updating machine IPs
                    .-time 3 minutes ago
            .lux-activity__end-footer 04/22/2019
    .lux-activity__day
      .lux-activity__content
        .lux-activity__item
          .lux-activity__start
            div
              i.lux-icon.-icon--muted.icon-circle-play-outline
              .lux-avatar
                img(src='../../assets/images/avatar.jpg', alt='avatar')
          .lux-activity__end
            .lux-activity__end-header
              strong trent.anderson
              |  deployed
              strong  Active Directory
            .lux-activity__end-content
              ul
                li
                  i.lux-icon.-icon--success.icon-check
                  div
                    div Instance successfully deployed
                    .-time 1 minute ago
                li
                  i.lux-icon.-icon--success.icon-check
                  div
                    div Machine active-directory-vbo8o-1 successfully deployed
                    .-time 2 minutes ago
                li
                  i.lux-icon.-icon--muted.icon-circle-plus-outline
                  div
                    div Executing install:Active Directory in machine active-directory-vbo8o-1
                    .-time 2 minutes ago
                li
                  i.lux-icon.-icon--muted.icon-circle-plus-outline
                  div
                    div Updating machine IPs
                    .-time 3 minutes ago
            .lux-activity__end-footer 04/21/2019
