---
title: Stat
---

.test-base
  h3 Base
  .lux-stat(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__title
          | Base stat
        .lux-stat-metric__value
          | 1
.test-disabled
  h3 Disabled
  .lux-stat.-disabled(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__title
          | Disabled stat
        .lux-stat-metric__value
          | 1
.test-active
  h3 Active
  .lux-stat.-active(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__title
          | Active stat
        .lux-stat-metric__value
          | 1
.test-center
  h3 Center Aligned
  .lux-stat.-center(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__title
          | Centered stat
        .lux-stat-metric__value
          | 1
.test-active
  h3 Card
  .lux-stat.-card(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__title
          | Card stat
        .lux-stat-metric__value
          | 1
.test-card-active
  h3 Card Active
  .lux-stat.-card.-active(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__title
          | Active card stat
        .lux-stat-metric__value
          | 1
.test-card-center
  h3 Center Aligned Card
  .lux-stat.-card.-center(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__title
          | Center card stat
        .lux-stat-metric__value
          | 1
.test-portal
  h3 Portal Card
  .lux-stat.-portal(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__value
          | 1
        .lux-stat-metric__title
          | Metric title
      .lux-stat-submetric
        .lux-stat-submetric__value
          | 1
        .lux-stat-submetric__title
          | Submetric title
.test-portal-active
  h3 Portal Active Card
  .lux-stat.-portal.-active(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__value
          | 1
        .lux-stat-metric__title
          | Metric title
      .lux-stat-submetric
        .lux-stat-submetric__value
          | 1
        .lux-stat-submetric__title
          | Submetric title
.test-portal-center
  h3 Portal Center Aligned Card
  .lux-stat.-portal.-center(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__value
          | 1
        .lux-stat-metric__title
          | Metric title
      .lux-stat-submetric
        .lux-stat-submetric__value
          | 1
        .lux-stat-submetric__title
          | Submetric title
.test-portal-center-active
  h3 Portal Center Aligned Active Card
  .lux-stat.-portal.-center.-active(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__value
          | 1
        .lux-stat-metric__title
          | Metric title
      .lux-stat-submetric
        .lux-stat-submetric__value
          | 1
        .lux-stat-submetric__title
          | Submetric title
.test-portal-background-icon
  h3 Portal Background Icon Card
  .lux-stat.-portal.-center(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__value
          | 1
        .lux-stat-metric__title
          | Metric title
      .lux-stat-submetric
        .lux-stat-submetric__value
          | 1
        .lux-stat-submetric__title
          | Submetric title
      .lux-stat-background-icon
        i.lux-icon.icon-logo-centurylink
.test-portal-background-icon-active
  h3 Portal Background Icon Active Card
  .lux-stat.-portal.-center.-active(style="width: 12rem")
    .lux-stat__content
      .lux-stat-metric
        .lux-stat-metric__value
          | 1
        .lux-stat-metric__title
          | Metric title
      .lux-stat-submetric
        .lux-stat-submetric__value
          | 1
        .lux-stat-submetric__title
          | Submetric title
      .lux-stat-background-icon
        i.lux-icon.icon-logo-centurylink
