h2 Examples
p.-text To render a breadcrumb, use the class <code>lux-breadcrumb</code>.

h3 Base
.example.-mb--3
  .-p--3
    nav.lux-breadcrumb(aria-label="Breadcrumb")
      ol
        li.lux-breadcrumb__item
          a(href='#') Parent
        li.lux-breadcrumb__item
          a(href='#') Child 1
        li.lux-breadcrumb__item.-active
          a(href='#',aria-current="page") Child 2
  .example-tabs.-pl--2
    ul.lux-tabs#example-base
      li.-disabled
        a(href=`#webcomponent-base`) Web Component
      li.-active
        a(href=`#html-base`) HTML Blueprint
  .lux-tabs-panel#webcomponent-base
  .lux-tabs-panel.-active#html-base
    :code(lang="html")
      <nav class="lux-breadcrumb" aria-label="Breadcrumb">
        <ol>
            <li class="lux-breadcrumb__item">
              <a href="#">Parent</a>
            </li>
            <li class="lux-breadcrumb__item">
              <a href="#">Child 1</a>
            </li>
            <li class="lux-breadcrumb__item -active">
              <a href="#" aria-current="page">Child 2</a>
            </li>
        </ol>
      </nav>

h3 Alternate Separator
p.-text Apply the <code>-alt</code> class to render breadcrumbs with an alternate separator.
.example.-mb--3
  .-p--3
    nav.lux-breadcrumb.-alt(aria-label="Breadcrumb")
      ol
        li.lux-breadcrumb__item
          a(href='#') Parent
        li.lux-breadcrumb__item
          a(href='#') Child 1
        li.lux-breadcrumb__item.-active
          a(href='#',aria-current="page") Child 2
  .example-tabs.-pl--2
    ul.lux-tabs#example-alt
      li.-disabled
        a(href=`#webcomponent-alt`) Web Component
      li.-active
        a(href=`#html-alt`) HTML Blueprint
  .lux-tabs-panel#webcomponent-alt
  .lux-tabs-panel.-active#html-alt
    :code(lang="html")
      <nav class="lux-breadcrumb -alt" aria-label="Breadcrumb">
        <ol>
            <li class="lux-breadcrumb__item">
              <a href="#">Parent</a>
            </li>
            <li class="lux-breadcrumb__item">
              <a href="#">Child 1</a>
            </li>
            <li class="lux-breadcrumb__item -active">
              <a href="#" aria-current="page">Child 2</a>
            </li>
        </ol>
      </nav>

h2 Additional Sizes
p.-text
  | Breadcrumbs support the following sizes: <code>-xs</code>, <code>-sm</code>, <code>-md</code>,
  | <code>-lg</code>, and <code>-xl</code>. The default size is <code>-md</code>.
.example.-mb--3
  .-p--3
    each size in ['xs', 'sm', 'md', 'lg', 'xl']
      p.-text--bold=`-${size}`
      nav.lux-breadcrumb.-mb--2(class=`-${size}`, aria-label='Breadcrumb')
        ol
          li.lux-breadcrumb__item
            a(href='#') Parent
          li.lux-breadcrumb__item
            a(href='#') Child 1
          li.lux-breadcrumb__item.-active
            a(href='#',aria-current="page") Child 2
  .example-tabs.-pl--2
    ul.lux-tabs#example-sizes
      li.-disabled
        a(href=`#webcomponent-sizes`) Web Component
      li.-active
        a(href=`#html-sizes`) HTML Blueprint
  .lux-tabs-panel#webcomponent-sizes
  .lux-tabs-panel.-active#html-sizes
    :code(lang="html")
      <!-- xs -->
      <nav class="lux-breadcrumb -xs" aria-label="Breadcrumb">
        <ol>
          <li class="lux-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="lux-breadcrumb__item -active">
            <a href="#" aria-current="page">Child</a>
          </li>
        </ol>
      </nav>

      <!-- sm -->
      <nav class="lux-breadcrumb -sm" aria-label="Breadcrumb">
        <ol>
          <li class="lux-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="lux-breadcrumb__item -active">
            <a href="#" aria-current="page">Child</a>
          </li>
        </ol>
      </nav>

      <!-- md -->
      <nav class="lux-breadcrumb" aria-label="Breadcrumb">
        <ol>
          <li class="lux-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="lux-breadcrumb__item -active">
            <a href="#" aria-current="page">Child</a>
          </li>
        </ol>
      </nav>

      <!-- lg -->
      <nav class="lux-breadcrumb -lg" aria-label="Breadcrumb">
        <ol>
          <li class="lux-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="lux-breadcrumb__item -active">
            <a href="#" aria-current="page">Child</a>
          </li>
        </ol>
      </nav>

      <!-- xl -->
      <nav class="lux-breadcrumb -xl" aria-label="Breadcrumb">
        <ol>
          <li class="lux-breadcrumb__item">
            <a href="#">Parent</a>
          </li>
          <li class="lux-breadcrumb__item -active">
            <a href="#" aria-current="page">Child</a>
          </li>
        </ol>
      </nav>

script.
    document.addEventListener(
    'DOMContentLoaded',
    function() {
      lux.tab(document.getElementById('example-base'));
      lux.tab(document.getElementById('example-alt'));
      lux.tab(document.getElementById('example-sizes'));
    });
