h2 Examples

h3 Stacked
p.-text
  | Group radio buttons in <code>lux-form__item</code> for easy stacking.
.example.-mb--3
  .-p--3
    fieldset
      legend.lux-label Select an option
      .lux-form__item
        .lux-radio
          input(class="lux-radio__input", type="radio", name="radios", id="radio1")
          label.lux-radio__label(for="radio1") Radio Button
      .lux-form__item
        .lux-radio
          input(class="lux-radio__input", type="radio", name="radios", id="radio2", disabled)
          label.lux-radio__label(for="radio2") Disabled Radio Button
  .example-tabs.-pl--2
    ul.lux-tabs#example-stacked
      li.-disabled
        a(href=`#webcomponent-stacked`) Web Component
      li.-active
        a(href=`#html-stacked`) HTML Blueprint
  .lux-tabs-panel#webcomponent-stacked
  .lux-tabs-panel.-active#html-stacked
    :code(lang="html")
      <fieldset>
        <legend class="lux-label">Select an option</legend>
        <div class="lux-form__item">
          <div class="lux-radio">
            <input class="lux-radio__input" type="radio" name="radios" id="radio1">
            <label class="lux-radio__label" for="radio1">Radio Button</label>
          </div>
        </div>
        <div class="lux-form__item">
          <div class="lux-radio">
            <input class="lux-radio__input" type="radio" name="radios" id="radio2" disabled>
            <label class="lux-radio__label" for="radio2">Disabled Radio Button</label>
          </div>
        </div>
      </fieldset>

h3 Inline
p.-text
  | Apply <code>-inline</code> to display two or more radio buttons inline.
.example.-mb--3
  .-p--3
    fieldset
      legend.lux-label Select an option
      .lux-form__item.-inline
        .lux-radio
          input(class="lux-radio__input", type="radio", name="inlineRadios", id="inlineRadio1")
          label.lux-radio__label(for="inlineRadio1") Option 1
      .lux-form__item.-inline
        .lux-radio
          input(class="lux-radio__input", type="radio", name="inlineRadios", id="inlineRadio2")
          label.lux-radio__label(for="inlineRadio2") Option 2
  .example-tabs.-pl--2
    ul.lux-tabs#example-inline
      li.-disabled
        a(href=`#webcomponent-inline`) Web Component
      li.-active
        a(href=`#html-inline`) HTML Blueprint
  .lux-tabs-panel#webcomponent-inline
  .lux-tabs-panel.-active#html-inline
    :code(lang="html")
      <fieldset>
        <legend class="lux-label">Select an option</legend>
        <div class="lux-form__item -inline">
          <div class="lux-radio">
            <input class="lux-radio__input" type="radio" name="inlineRadios" id="inlineRadio1">
            <label class="lux-radio__label" for="inlineRadio1">Option 1</label>
          </div>
        </div>
        <div class="lux-form__item -inline">
          <div class="lux-radio">
            <input class="lux-radio__input" type="radio" name="inlineRadios" id="inlineRadio2" disabled>
            <label class="lux-radio__label" for="inlineRadio2">Option 2</label>
          </div>
        </div>
      </fieldset>

h2 Radio Button List
p.-text
  | Radio button lists are used to wrap a series of radio buttons in a list.
  | To render a series of radio buttons in a list, apply the class <code>-list</code> to <code>lux-form__item</code>.
.example.-mb--3
  .-p--3
    fieldset
      legend.lux-label Select an option
      ul.lux-form__item.-list(style="max-width:20rem")
        li.lux-form__item
          .lux-radio
            input(type="radio", class="lux-radio__input", name="radiobuttonList", id="radio-1")
            label.lux-radio__label(for="radio-1") Option 1
        li.lux-form__item
          .lux-radio
            input(type="radio", class="lux-radio__input", name="radiobuttonList", id="radio-2")
            label.lux-radio__label(for="radio-2") Option 2
        li.lux-form__item
          .lux-radio
            input(type="radio", class="lux-radio__input", name="radiobuttonList", id="radio-3")
            label.lux-radio__label(for="radio-3") Option 3
        li.lux-form__item
          .lux-radio
            input(type="radio", class="lux-radio__input", name="radiobuttonList", id="radio-4")
            label.lux-radio__label(for="radio-4") Option 4
        li.lux-form__item
          .lux-radio
            input(type="radio", class="lux-radio__input", name="radiobuttonList", id="radio-5")
            label.lux-radio__label(for="radio-5") Option 5
  .example-tabs.-pl--2
    ul.lux-tabs#example-list
      li.-disabled
        a(href=`#webcomponent-list`) Web Component
      li.-active
        a(href=`#html-list`) HTML Blueprint
  .lux-tabs-panel#webcomponent-list
  .lux-tabs-panel.-active#html-list
    :code(lang='html')
      <fieldset>
        <legend class="lux-label">Select an option</legend>
        <ul class="lux-form__item -list">
          <li class="lux-form__item">
            <div class="lux-radio">
              <input type="radio" class="lux-radio__input" name="radiobuttonList" id="radio1">
              <label class="lux-radio__label" for="radio1">Option 1</label>
            </div>
          </li>
          <li class="lux-form__item">
            <div class="lux-radio">
              <input type="radio" class="lux-radio__input" name="radiobuttonList" id="radio2">
              <label class="lux-radio__label" for="radio2">Option 2</label>
            </div>
          </li>
          <li class="lux-form__item">
            <div class="lux-radio">
              <input type="radio" class="lux-radio__input" name="radiobuttonList" id="radio3">
              <label class="lux-radio__label" for="radio3">Option 3</label>
            </div>
          </li>
          <li class="lux-form__item">
            <div class="lux-radio">
              <input type="radio" class="lux-radio__input" name="radiobuttonList" id="radio4">
              <label class="lux-radio__label" for="radio4">Option 4</label>
            </div>
          </li>
          <li class="lux-form__item">
            <div class="lux-radio">
              <input type="radio" class="lux-radio__input" name="radiobuttonList" id="radio5">
              <label class="lux-radio__label" for="radio5">Option 5</label>
            </div>
          </li>
        </ul>
      </fieldset>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function() {
      lux.tab(document.getElementById('example-stacked'));
      lux.tab(document.getElementById('example-inline'));
      lux.tab(document.getElementById('example-list'));
    }
  );