script(type='module' src='../../js/ce/ux-lux-ce/ux-lux-ce.esm.js')
script(nomodule='' src='../../js/ce/ux-lux-ce/ux-lux-ce.js')

h2 Examples
h3 Base
p.-text
  | Popover components are absolutely positioned. For this example we have forced a relative position.
.example.-mb--3
  .-p--3(style="height: 135px;")
    .-position--relative
      lux-popover(active, variant="text", prevent-auto-hide)
        | Popover content
  .example-tabs.-pl--2
    ul.lux-tabs#examples-default
      li.-active
        a(href=`#webcomponent`) Web Component
      li
        a(href=`#html`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent
    .lux-tab__description
      | Remove the <code>active</code> attribute to hide the popover.
      | Use the <code>variant="text"</code> attribute to display text content in a <code>&lt;p&gt;</code>.
    :code(lang="html")
      <lux-popover variant="text" active>
        Popover content
      </lux-popover>
  .lux-tabs-panel#html
    .lux-tab__description
      | Remove the <code>-active</code> class to hide the popover.
    :code(lang="html")
      <section class="lux-popover -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="lux-popover__content">
          <p class="lux-popover__text">Popover content</p>
        </div>
      </section>

h3 Titled
.example.-mb--3
  .-p--3(style="height: 135px;")
    .-position--relative
      lux-popover(active, title="Popover title", variant="text", prevent-auto-hide)
        | Popover content
  .example-tabs.-pl--2
    ul.lux-tabs#examples-titled
      li.-active
        a(href=`#webcomponent-titled`) Web Component
      li
        a(href=`#html-titled`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-titled
    .lux-tab__description
      | Use the <code>title</code> attribute to display a title.
    :code(lang="html")
      <lux-popover title="Popover title" variant="text" active>
        Popover content
      </lux-popover>
  .lux-tabs-panel#html-titled
    .lux-tab__description
      | Add <code>lux-popover__header</code> and <code>lux-popover__title</code> to display a title.
    :code(lang="html")
      <section class="lux-popover -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <header class="lux-popover__header">
          <h2 class="lux-popover__title">Popover Title</h2>
        </header>
        <div class="lux-popover__content">
          <p class="lux-popover__text">Popover content</p>
        </div>
      </section>

h3 Arrow
p.-text
  | Popovers support arrows to indicate the element they originate from. Arrows can be located anywhere around the Popover.
.example.-mb--3
  .-p--3
    .lux-grid.-no-gutter
      .lux-col.-w--6.-w-md--4.-w-xl--3
        h4.-text--h5.-mb--3 Top
        .-position--relative(style='height: 100px')
          lux-popover(position="top", variant="text", active, arrow, prevent-auto-hide)
            | Popover content
      .lux-col.-w--6.-w-md--4.-w-xl--3
        h4.-text--h5.-mb--3 Right
        .-position--relative(style='height: 100px')
          lux-popover(position="right", variant="text", active, arrow, prevent-auto-hide)
            | Popover content
      .lux-col.-w--6.-w-md--4.-w-xl--3
        h4.-text--h5.-mb--3 Bottom
        .-position--relative(style='height: 100px; top: -12px')
          lux-popover(position="bottom", variant="text", active, arrow, prevent-auto-hide)
            | Popover content
      .lux-col.-w--6.-w-md--4.-w-xl--3
        h4.-text--h5.-mb--3 Left
        .-position--relative(style='height: 100px')
          lux-popover(position="left", variant="text", active, arrow, prevent-auto-hide)
            | Popover content
  .example-tabs.-pl--2
    ul.lux-tabs#examples-position
      li.-active
        a(href=`#webcomponent-position`) Web Component
      li
        a(href=`#html-position`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-position
    .lux-tab__description
      | Add the attribute <code>arrow</code> and use the attribute <code>position</code>
      | with the values: <code>top</code>, <code>right</code>, <code>bottom</code> and
      | <code>left</code> to position the arrow in the proper place.
    :code(lang="html")
      <!-- Top -->
      <lux-popover position="top" variant="text" active arrow>
        Popover content
      </lux-popover>

      <!-- Right -->
      <lux-popover position="right" variant="text" active arrow>
        Popover content
      </lux-popover>

      <!-- Bottom -->
      <lux-popover position="bottom" variant="text" active arrow>
        Popover content
      </lux-popover>

      <!-- Left -->
      <lux-popover position="left" variant="text" active arrow>
        Popover content
      </lux-popover>

  .lux-tabs-panel#html-position
    .lux-tab__description
      | Use the classes <code>lux-popover--top</code>, <code>lux-popover--right</code>, <code>lux-popover--bottom</code> and
      | <code>lux-popover--left</code> to position the arrow in the proper place.
      | If you use a position engine such as Popper.js (used by Lux), the attribute <code>x-placement</code> should be used instead of
      | these classes. It accepts all the values Popper.js does. Popper.js sets this attribute automatically, so there is
      | no need to include it on the code.
    :code(lang="html")
      <!-- Top -->
      <section class="lux-popover lux-popover--top -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="lux-popover__content">
          <p class="lux-popover__text">Popover content</p>
        </div>
        <div class="lux-popover__arrow"></div>
      </section>

      <!-- Right -->
      <section class="lux-popover lux-popover--right -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="lux-popover__content">
          <p class="lux-popover__text">Popover content</p>
        </div>
        <div class="lux-popover__arrow"></div>
      </section>

      <!-- Bottom -->
      <section class="lux-popover lux-popover--bottom -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="lux-popover__content">
          <p class="lux-popover__text">Popover content</p>
        </div>
        <div class="lux-popover__arrow"></div>
      </section>

      <!-- Left -->
      <section class="lux-popover lux-popover--left -active" aria-label="Popover Title" aria-modal="true" role="dialog">
        <div class="lux-popover__content">
          <p class="lux-popover__text">Popover content</p>
        </div>
        <div class="lux-popover__arrow"></div>
      </section>

h3 Reference element
p.-text
  | A reference element can be setup for advanced positioning.
  | The popover will be positioned relative to this element.
.example.-mb--3
  .-p--3
    lux-button#example-3-button Click me!
    lux-popover#example-3-popover(position="top", title="Popover title", variant="text", arrow, reference="#example-3-button")
      | Popover content
  .example-tabs.-pl--2
    ul.lux-tabs#examples-reference
      li.-active
        a(href=`#webcomponent-reference`) Web Component
      li
        a(href=`#html-reference`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-reference
    .lux-tab__description
      | Use the <code>reference</code> attribute with a
      | CSS selector to properly reference an element.
    :code(lang="html")
      <lux-button id="example-3-button">Click me!</lux-button>

      <!-- put the following code anywere in the DOM, e.g. at the end of the DOM -->
      <lux-popover id="example-3-popover" position="top" title="Popover title" variant="text" arrow reference="#example-3-button" position="top" active></lux-popover>

      <script>
        document.querySelector("#example-3-button")
          .addEventListener("click", function() {
            var popoverElem = document.querySelector("#example-3-popover");
            popoverElem.toggle();
          });
      </script>
  .lux-tabs-panel#html-reference
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <!-- Method 1 - Data Target -->
      <button class="lux-button" id="popover-1b" data-target="#popover-in-html">Popover</button>
      <!-- Put the following code anywere in the DOM, e.g. at the end of the DOM -->
      <section class="lux-popover" id="popover-in-html" aria-modal="true" role="dialog" aria-label="Popover title">
        <header class="lux-popover__header">
          <h2 class="lux-popover__title">Popover title</h2>
        </header>
        <div class="lux-popover__content">
          <p class="lux-popover__text">Popover content</p>
        </div>
      </section>
      <script>lux.popover(document.getElementById('popover-1b'));</script>

      <!-- Method 2 - Data Content -->
      <button id='popover-1' class="lux-button" data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover title</h2></header><div class="lux-popover__content"><p class="lux-popover__text">Popover content</p></div>'>Popover</button>
      <script>lux.popover(document.getElementById('popover-1'));</script>

h3 Positioning
p.-text
  | Further positions can be used in this mode: <code>top</code>,
  | <code>right</code>, <code>bottom</code>, <code>left</code>, <code>top-start</code>,
  | <code>top-end</code>, <code>right-start</code>, <code>right-end</code>,
  | <code>bottom-start</code>, <code>bottom-end</code>, <code>left-start</code>,
  | <code>left-end</code>.

.example.-mb--3
  .-p--3.-px-xl--10
    .lux-grid.-no-gutter.-px-xl--3
      .lux-col.-w--12.-w-xl--10.-o-xl--1.-d--flex.-justify-content-sm--around.-flex--wrap
        div.-p--1
          lux-button#example-4-ts-button Top start
          lux-popover#example-4-ts-popover(position="top-start", title="Popover title", variant="text", arrow, reference="#example-4-ts-button")
            | This popover is top-start positioned.
        div.-p--1
          lux-button#example-4-t-button Top
          lux-popover#example-4-t-popover(position="top", title="Popover title", variant="text", arrow, reference="#example-4-t-button")
            | This popover is top positioned.
        div.-p--1
          lux-button#example-4-te-button Top end
          lux-popover#example-4-te-popover(position="top-end", title="Popover title", variant="text", arrow, reference="#example-4-te-button")
            | This popover is top-end positioned.
      .lux-col.-w--12.-w-sm--4.-d--flex.-flex-sm--column.-flex--wrap
        div.-p--1.-py-sm--3
          lux-button#example-4-ls-button Left start
          lux-popover#example-4-ls-popover(position="left-start", title="Popover title", variant="text", arrow, reference="#example-4-ls-button")
            | This popover is left-start positioned.
        div.-p--1.-py-sm--3
          lux-button#example-4-l-button Left
          lux-popover#example-4-l-popover(position="left", title="Popover title", variant="text", arrow, reference="#example-4-l-button")
            | This popover is left positioned.
        div.-p--1.-py-sm--3
          lux-button#example-4-le-button Left end
          lux-popover#example-4-le-popover(position="left-end", title="Popover title", variant="text", arrow, reference="#example-4-le-button")
            | This popover is left-end positioned.
      .lux-col.-d--none.-w--12.-w-sm--4.-d-sm--flex.-flex-sm--column.-justify-content-sm--center.-align-items-sm--center
        div.-w--75.-text.-text--muted.-text--center.-lh--2 Click buttons to see popover positions
      .lux-col.-w--12.-w-sm--4.-d--flex.-flex-sm--column.-align-items-sm--end.-flex--wrap
        div.-p--1.-py-sm--3
          lux-button#example-4-rs-button Right start
          lux-popover#example-4-rs-popover(position="right-start", title="Popover title", variant="text", arrow, reference="#example-4-rs-button")
            | This popover is right-start positioned.
        div.-p--1.-py-sm--3
          lux-button#example-4-r-button Right
          lux-popover#example-4-r-popover(position="right", title="Popover title", variant="text", arrow, reference="#example-4-r-button")
            | This popover is right positioned.
        div.-p--1.-py-sm--3
          lux-button#example-4-re-button Right end
          lux-popover#example-4-re-popover(position="right-end", title="Popover title", variant="text", arrow, reference="#example-4-re-button")
            | This popover is right-end positioned.
      .lux-col.-w--12.-w-xl--10.-o-xl--1.-d--flex.-justify-content-sm--around.-flex--wrap
        div.-p--1
          lux-button#example-4-bs-button Bottom start
          lux-popover#example-4-bs-popover(position="bottom-start", title="Popover title", variant="text", arrow, reference="#example-4-bs-button")
            | This popover is bottom-start positioned.
        div.-p--1
          lux-button#example-4-b-button Bottom
          lux-popover#example-4-b-popover(position="bottom", title="Popover title", variant="text", arrow, reference="#example-4-b-button")
            | This popover is bottom positioned.
        div.-p--1
          lux-button#example-4-be-button Bottom end
          lux-popover#example-4-be-popover(position="bottom-end", title="Popover title", variant="text", arrow, reference="#example-4-be-button")
            | This popover is bottom-end positioned.

  .example-tabs.-pl--2
    ul.lux-tabs#examples-positioning
      li.-active
        a(href=`#webcomponent-positioning`) Web Component
      li
        a(href=`#html-positioning`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-positioning
    :code(lang="html")
      <!-- Top -->
      <lux-button id="example-4-t-button">Top popover</lux-button>
      <lux-popover id="example-4-t-popover" position="top" title="Popover title" variant="text" arrow reference="#example-4-t-button">
        This popover is top positioned.
      </lux-popover>

      <!-- Top Start -->
      <lux-button id="example-4-ts-button">Top start popover</lux-button>
      <lux-popover id="example-4-ts-popover" position="top-start" title="Popover title" variant="text" arrow reference="#example-4-ts-button">
        This popover is top-start positioned.
      </lux-popover>

      <!-- Top End -->
      <lux-button id="example-4-te-button">Top end popover</lux-button>
      <lux-popover id="example-4-te-popover" position="top-end" title="Popover title" variant="text" arrow reference="#example-4-te-button">
        This popover is top-end positioned.
      </lux-popover>

      <!-- Right -->
      <lux-button id="example-4-r-button">Right popover</lux-button>
      <lux-popover id="example-4-r-popover" position="right" title="Popover title" variant="text" arrow reference="#example-4-r-button">
        This popover is right positioned.
      </lux-popover>

      <!-- Right Start -->
      <lux-button id="example-4-rs-button">Right start popover</lux-button>
      <lux-popover id="example-4-rs-popover" position="right-start" title="Popover title" variant="text" arrow reference="#example-4-rs-button">
        This popover is right-start positioned.
      </lux-popover>

      <!-- Right End -->
      <lux-button id="example-4-re-button">Right end popover</lux-button>
      <lux-popover id="example-4-re-popover" position="right-end" title="Popover title" variant="text" arrow reference="#example-4-re-button">
        This popover is right-end positioned.
      </lux-popover>

      <!-- Bottom -->
      <lux-button id="example-4-b-button">Bottom popover</lux-button>
      <lux-popover id="example-4-b-popover" position="bottom" title="Popover title" variant="text" arrow reference="#example-4-b-button">
        This popover is bottom positioned.
      </lux-popover>

      <!-- Bottom Start -->
      <lux-button id="example-4-bs-button">Bottom start popover</lux-button>
      <lux-popover id="example-4-bs-popover" position="bottom-start" title="Popover title" variant="text" arrow reference="#example-4-bs-button">
        This popover is bottom-start positioned.
      </lux-popover>

      <!-- Bottom End -->
      <lux-button id="example-4-be-button">Bottom end popover</lux-button>
      <lux-popover id="example-4-be-popover" position="bottom-end" title="Popover title" variant="text" arrow reference="#example-4-be-button">
        This popover is bottom-end positioned.
      </lux-popover>

      <!-- Left -->
      <lux-button id="example-4-l-button">Left popover</lux-button>
      <lux-popover id="example-4-l-popover" position="left" title="Popover title" variant="text" arrow reference="#example-4-l-button">
        This popover is left positioned.
      </lux-popover>

      <!-- Left Start -->
      <lux-button id="example-4-ls-button">Left start popover</lux-button>
      <lux-popover id="example-4-ls-popover" position="left-start" title="Popover title" variant="text" arrow reference="#example-4-ls-button">
        This popover is left-start positioned.
      </lux-popover>

      <!-- Left End -->
      <lux-button id="example-4-le-button">Left end popover</lux-button>
      <lux-popover id="example-4-le-popover" position="left-end" title="Popover title" variant="text" arrow reference="#example-4-le-button">
        This popover is left-end positioned.
      </lux-popover>
  .lux-tabs-panel#html-positioning
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Lux.js</a>.
    :code(lang="html")
      <!-- Top -->
      <button data-position='top' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is top positioned.</p></div>' class="lux-button">Top popover</button>

      <!-- Top Start -->
      <button data-position='top-start' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is top start positioned.</p></div>' class="lux-button">Top start popover</button>

      <!-- Top End -->
      <button data-position='top-end' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is top end positioned.</p></div>' class="lux-button">Top end popover</button>

      <!-- Right -->
      <button class="lux-button" data-position='right' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is right positioned.</p></div>'>Right popover</button>

      <!-- Right Start -->
      <button class="lux-button" data-position='right-start' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is right start positioned.</p></div>'>Right start popover</button class="lux-button">

      <!-- Right End -->
      <button class="lux-button" data-position='right-end' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is right end positioned.</p></div>'>Right end popover</button class="lux-button">

      <!-- Bottom -->
      <button class="lux-button" data-position='bottom' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is bottom positioned.</p></div>'>Bottom popover</button>

      <!-- Bottom Start -->
      <button class="lux-button" data-position='bottom-start' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is bottom start positioned.</p></div>'>Bottom start popover</button class="lux-button">

      <!-- Bottom End -->
      <button class="lux-button" data-position='bottom-end' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is bottom end positioned.</p></div>'>Bottom end popover</button class="lux-button">

      <!-- Left -->
      <button class="lux-button" data-position='left' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is left positioned.</p></div>'>Left popover</button>

      <!-- Left Start -->
      <button class="lux-button" data-position='left-start' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is left start positioned.</p></div>'>Left start popover</button>

      <!-- Left End -->
      <button class="lux-button" data-position='left-end' data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover positioning</h2></header><div class="lux-popover__content"><p class="lux-popover__text">This popover is left end positioned.</p></div>'>Left end popover</button>

      <!-- JavaScript -->
      <script>lux.popover(document.querySelectorAll('[data-popover-content]'));</script>

h2 Interaction
p.-text
  | Read this handy introduction to
  |
  a(href=`../../getting-started/installation`) HTML attributes and DOM properties
  | .

.example.-mb--3
  .-p--3
    lux-button#example-5-button-show.-mr--2.-mb--2.-mb-md--0 Show
    lux-button#example-5-button-hide.-mr--2.-mb--2.-mb-md--0 Hide
    lux-button#example-5-button-toggle.-mr--2.-mb--2.-mb-md--0 Toggle
    lux-button#example-5-button-reference.-mr--2.-mb--2.-mb-md--0 Reference

    lux-popover#example-5-popover(position="top", title="Popover title", variant="text", arrow, reference="#example-5-button-reference")
      | Popover content

  .example-tabs.-pl--2
    ul.lux-tabs#examples-interaction
      li.-active
        a(href=`#webcomponent-interaction`) Web Component
      li
        a(href=`#html-interaction`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-interaction
    .lux-tab__description
      | Modify the <code>active</code> attribute or property to make the popover show or hide. The <code>lux-popover</code>
      | element also has three public methods to interact with it: <code>show()</code>, <code>hide()</code>,
      | <code>toggle()</code>.
    :code(lang="html")
      <lux-button id="example-5-button-show">Show</lux-button>
      <lux-button id="example-5-button-hide">Hide</lux-button>
      <lux-button id="example-5-button-toggle">Toggle</lux-button>
      <lux-button id="example-5-button-reference">Reference</lux-button>

      <lux-popover id="example-5-popover" position="top" title="Popover title" variant="text" arrow reference="#example-5-button-reference">
        Popover content
      </lux-popover>

      <script>
        var popover5 = document.getElementById('example-5-popover');

        var bShow = document.getElementById('example-5-button-show');
        bShow.addEventListener('click', function(){
          popover5.show();
          // or popover5.active = true;
        });

        var bHide = document.getElementById('example-5-button-hide');
        bHide.addEventListener('click', function () {
          popover5.hide();
          // or popover5.active = false;
        });

        var bToggle = document.getElementById('example-5-button-toggle');
        bToggle.addEventListener('click', function(){
          popover5.toggle();
          // or popover5.active = !popover5.active;
        });
      </script>
  .lux-tabs-panel#html-interaction
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Lux.js</a>.
      br
      br
      | Use methods <code>.show()</code>, <code>.hide()</code>, and <code>.toggle()</code>
      | to control popover visibility.
    :code(lang="html")
      <button id='show-popover-3' class="lux-button">Show</button>
      <button id='hide-popover-3' class="lux-button">Hide</button>
      <button id='toggle-popover-3' class="lux-button">Toggle</button>
      <button id='popover-3' class="lux-button" data-popover-content='<div class="lux-popover__content">Foo</div>'>Popover</button>
      <script>
        var popover = lux.popover(
          document.getElementById('popover-3'),
          {
            trigger: 'manual',
            preventAutoHide: true
          }
        );
        document.getElementById('show-popover-3').addEventListener('click', function(e) {
          popover.show()
        });
        document.getElementById('hide-popover-3').addEventListener('click', function(e) {
          popover.hide()
        });
        document.getElementById('toggle-popover-3').addEventListener('click', function(e) {
          popover.toggle()
        });
      </script>

h3 Auto hide
p.-text
  | Popovers automatically hide when clicking outside of it or when pressing the ESC key.

.example.-mb--3
  .-p--3
    lux-button#example-6-auto-hide-button.-mr--2.-mb--2.-mb-md--0 Auto hide
    lux-popover#example-6-auto-hide-popover(position="top", title="Popover title", variant="text", arrow, reference="#example-6-auto-hide-button")
      | Click outside. I will disappear!
    lux-button#example-6-no-auto-hide-button.-mr--2.-mb--2.-mb-md--0 No auto hide
    lux-popover#example-6-no-auto-hide-popover(position="top", title="Popover title", variant="text", arrow, prevent-auto-hide, reference="#example-6-no-auto-hide-button")
      | Click outside. I will stay!
  .example-tabs.-pl--2
    ul.lux-tabs#examples-autohide-true
      li.-active
        a(href=`#webcomponent-autohide`) Web Component
      li
        a(href=`#html-autohide`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-autohide
    .lux-tab__description
      | You can prevent automatic hiding behavior
      | with the <code>prevent-auto-hide</code> attribute.
    :code(lang="html")
      <!-- Auto hide -->
      <lux-popover id="example-6-popover-auto-hide-popover" position="top" title="Popover title" variant="text" arrow reference="#example-6-auto-hide-button">
        Click outside. I will disappear!
      </lux-popover>

      <!-- No auto hide -->
      <lux-popover id="example-6-popover-no-auto-hide-popover" position="top" title="Popover title" variant="text" arrow prevent-auto-hide reference="#example-6-no-auto-hide-button">
        Click outside. I will stay!
      </lux-popover>

  .lux-tabs-panel#html-autohide
    .lux-tab__description
      span.-text--grey
        | This HTML Blueprint requires JavaScript.
        | You may use your own solution, or use Lux's vanilla JavaScript solution,
        | <a href="../../getting-started/installation">Lux.js</a>.
      br
      br
      | You can prevent automatic hiding behavior by
      | setting <code>preventAutoHide</code> to <code>true</code>
    :code(lang="html")
      <!-- Auto hide -->
      <button id='popover-6' class="lux-button" data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover title</h2></header><div class="lux-popover__content"><p class="lux-popover__text">Click outside. I will disappear!</p></div>'>Auto hide</button>
      <script>lux.popover(document.getElementById('popover-6'),
        {
          preventAutoHide: false
        });
      </script>

      <!-- No auto hide -->
      <button id='popover-6' class="lux-button" data-popover-content='<header class="lux-popover__header"><h2 class="lux-popover__title">Popover title</h2></header><div class="lux-popover__content"><p class="lux-popover__text">Click outside. I will stay!</p></div>'>No auto hide</button>
      <script>lux.popover(document.getElementById('popover-6'),
        {
          preventAutoHide: true
        });
      </script>

h3 Popover with custom content
.-text.-mb--3
  | Popovers can be used to display any kind of custom content (even other components).
.example.-mb--3
  .-p--3(style='height: 185px')
    .-position--relative
      lux-popover(position="top", title="Are you sure?", variant="text", active, arrow, prevent-auto-hide)
        | Are you sure you want to delete this?
        lux-button(slot="lux-popover__footer" color="danger") Delete
        lux-button(slot="lux-popover__footer") Cancel
  .example-tabs.-pl--2
    ul.lux-tabs#examples-custom-content
      li.-active
        a(href=`#webcomponent-custom-content`) Web Component
      li
        a(href=`#html-custom-content`) HTML Blueprint
  .lux-tabs-panel.-active#webcomponent-custom-content
    .lux-tab__description
      | Add buttons to Popovers by setting slot attribute to <code>slot="lux-popover__footer"</code>.
    :code(lang="html")
      <lux-popover position="top" title="Are you sure?" variant="text" active arrow>
        Are you sure you want to delete this?
        <lux-button slot="lux-popover__footer" color="danger">Delete</lux-button>
        <lux-button slot="lux-popover__footer">Cancel</lux-button>
      </lux-popover>
  .lux-tabs-panel#html-custom-content
    .lux-tab__description
      | Add buttons to Popovers by placing them in <code>lux-popover__footer</code>.
    :code(lang="html")
      <section class="lux-popover lux-popover--top -active" aria-label="Are you sure?" aria-modal="true" role="dialog">
        <header class="lux-popover__header">
          <h2 class="lux-popover__title">Are you sure?</h2>
        </header>
        <div class="lux-popover__content">
          <p class="lux-popover__text">Are you sure you want to delete this?</p>
        </div>
        <div class="lux-popover__footer">
          <button class="lux-button -danger">Delete</button>
          <button class="lux-button">Cancel</button>
        </div>
        <div class="lux-popover__arrow"></div>
      </section>

script.
  document.addEventListener(
    'DOMContentLoaded',
    function () {
      lux.tab(document.getElementById('examples-default'));
      lux.tab(document.getElementById('examples-titled'));
      lux.tab(document.getElementById('examples-position'));
      lux.tab(document.getElementById('examples-reference'));
      lux.tab(document.getElementById('examples-custom-content'));
      lux.tab(document.getElementById('examples-positioning'));
      lux.tab(document.getElementById('examples-interaction'));
      lux.tab(document.getElementById('examples-autohide-true'));

      var popovers = [
        {button: '#example-3-button',               popover: '#example-3-popover',              action: "toggle"},
        {button: '#example-4-t-button',             popover: '#example-4-t-popover',            action: "toggle"},
        {button: '#example-4-ts-button',            popover: '#example-4-ts-popover',           action: "toggle"},
        {button: '#example-4-te-button',            popover: '#example-4-te-popover',           action: "toggle"},
        {button: '#example-4-r-button',             popover: '#example-4-r-popover',            action: "toggle"},
        {button: '#example-4-rs-button',            popover: '#example-4-rs-popover',           action: "toggle"},
        {button: '#example-4-re-button',            popover: '#example-4-re-popover',           action: "toggle"},
        {button: '#example-4-b-button',             popover: '#example-4-b-popover',            action: "toggle"},
        {button: '#example-4-bs-button',            popover: '#example-4-bs-popover',           action: "toggle"},
        {button: '#example-4-be-button',            popover: '#example-4-be-popover',           action: "toggle"},
        {button: '#example-4-l-button',             popover: '#example-4-l-popover',            action: "toggle"},
        {button: '#example-4-ls-button',            popover: '#example-4-ls-popover',           action: "toggle"},
        {button: '#example-4-le-button',            popover: '#example-4-le-popover',           action: "toggle"},
        {button: '#example-5-button-show',          popover: '#example-5-popover',              action: "show"},
        {button: '#example-5-button-hide',          popover: '#example-5-popover',              action: "hide"},
        {button: '#example-5-button-toggle',        popover: '#example-5-popover',              action: "toggle"},
        {button: '#example-6-auto-hide-button',     popover: '#example-6-auto-hide-popover',    action: "toggle"},
        {button: '#example-6-no-auto-hide-button',  popover: '#example-6-no-auto-hide-popover', action: "toggle"}
      ];

      Array.prototype.forEach.call(popovers, function(popover){
        document.querySelector(popover.button).addEventListener('click', function () {
          var popoverElem = document.querySelector(popover.popover);
          switch (popover.action) {
            case 'show':
              popoverElem.show();
              break;
            case 'hide':
              popoverElem.hide();
              break;
            default:
              popoverElem.toggle();
          }
        });
      });
    }
  );
