---
title: Popover
description: Popovers provide a contextual space attached to an element in an upper z-index layer where you can include any kind of HTML code related to the trigger.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.lux-tabs-panel.-active#examplestab
  include _examples

.lux-tabs-panel#propertiestab
  include _properties

.lux-tabs-panel#accessibilitytab
  include _accessibility
