---
title: Picker group
description: Picker groups are used to wrap a series of pickers on a single line.
tabs: {"Examples" : "examplestab", "Properties" : "propertiestab", "Accessibility" : "accessibilitytab"}
---

.lux-tabs-panel.-active#examplestab
  include _examples

.lux-tabs-panel#propertiestab
  include _properties

.lux-tabs-panel#accessibilitytab
  include _accessibility
